$header-color: #575757;
$vintage-color: black;
$header-font: 'Lato', sans-serif;
$vintage-font: 'Courgette', cursive;
$color-white: white;
$orange-bg: #f09d66;
$footer-color: #efefef;

.grey-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f2f2;
}

.wrapper{
    margin: 0 auto;
    width: 1280px;
}

.top-header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $header-font;
    
    a{
        color: $header-color;
        text-decoration: none;
        font-size: 12px;
    }
}

.contact{
    
    a:first-child{
        margin-right: 15px;
    }

    a:hover{
        color: blue;
    }
}

.header-menu{

    a{
        color: rgb(65, 65, 65);
        padding: 0 30px;
        border-right: 1px solid;
        text-transform: uppercase;
        letter-spacing: -0.5px;
    }

    a:last-child{
        border: none;
    }

    a:hover{
        color: black;
    }
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    font-family: $vintage-font;
    padding: 50px 0;
}

.nav{
    font-size: 19px;
    word-spacing: 15px;
    align-self: center;

    a{
        text-decoration: none;
        color: $vintage-color;
    }

    a:hover{
        text-shadow: 3px 2px 2px rgba(121,121,121,0.55);
    }
}

.logo{
    font-size: 65px;
    span{
        color: $vintage-color;
        margin-left: 95px;
    }
}

.head-right{
    display: flex;
}

.socmedia{
    align-self: center;
    display: flex;
    margin-right: 45px;

    svg{
        fill: #d9bf8f;
        margin-right: 10px;
        transition: all 0.2s;
    }

    svg:hover{
        transform: scale(1.2);
        transition: all 0.2s;
    }
}

.lan-menu{
    align-self: center;
    font-family: $header-font;

    ul{
        width: 137px;
    }

    ul li a{
        display: flex;
    }

    a{
        display: block;
        text-transform: uppercase;
        background-color: black;
        color: $color-white;
        text-decoration: none;
        padding: 10px 26px;
    }

    li a:hover{
        transition: all 0.2s;
    }

    li ul{
        display: none;
        position: absolute;
    }

    li > ul li a{
        background-color: #242424;
        display: flex;
        padding-left: 55px;
    }

    li > ul li a:hover{
        background-color: black;
    }

    li:hover ul{
        display: block;
    }

    i{
        margin-left: 10px;
        transition: all 5s;
    }

    a:hover i{
        transform: rotate(180deg);
        transition: all 0.2s;
    }
}

.mid-bg{
    background-image: url(../images/women.png);
    background-position: center;
    height: 650px;
    background-repeat: no-repeat;
}

.left-arrow{
    position: absolute;
    left: 20px;
    margin-top: 270px;
    

    i{
        font-size: 60px;
        color: white;
        transition: all 0.2s;
        animation-name: moveleft;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transition-timing-function: linear;
    }
}

@keyframes moveleft {
    0% {color: white; transform: translateX(0px);}
    50% {color: black; transform: translateX(-10px);}
    100% {transform: translateX(0px);}  
}

.right-arrow{
    position: absolute;
    right: 20px;
    margin-top: 270px;
    animation-name: moveright;
    animation: infinite;
    transition-timing-function: linear;

    i{
        font-size: 60px;
        color: white;
        transition: all 0.2s;
        animation-name: moveright;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transition-timing-function: linear;
    }
}

@keyframes moveright {
    0% {color: white; transform: translateX(0px);}
    50% {color: black; transform: translateX(10px);}
    100% {transform: translateX(0px);}  
}

.mid{
    height: 650px;
    display: flex;
    justify-content: center;
}

.sale::after{
    content: '';
    display: block;
    position: relative;
    width: 228px;
    height: 228px;
    top: -189px;
    left: -10px;
    border: 1px solid $color-white;
}

.sale{
    border: 1px solid $color-white;
    width: 210px;
    height: 210px;
    margin: 150px 0 0 15px;
    text-align: center;
    position: absolute;

    li{
        margin-top: 21px;
    }

    li:first-child{
        font-weight: bolder;
        font-size: 15px;
        color: $color-white;
    }

    li:nth-child(2){
        font-weight: bold;
        font-size: 45px;
    }

    li:hover:nth-child(2){
        color: rgb(97, 97, 97);
        transition: all 0.2s;
    }

    ul li{
        text-transform: uppercase;
        font-family: $header-font;
    }

    li:nth-child(3){
        color: $color-white;
    }

    li:nth-child(2)::after{
        content: '';
        position: absolute;
        width: 12%;
        border-top: 1px solid #d0cecd;
        margin: 74px 0 0 -22px;
    }

    li:nth-child(2)::before{
        content: '';
        position: absolute;
        width: 12%;
        border-top: 1px solid #d0cecd;
        margin: 74px 0 0 -4px;
    }

    li:nth-child(3)::after{
        content: '';
        position: absolute;
        width: 20%;
        border-top: 1px solid $color-white;
        font-weight: bold;
        font-size: 20px;;
        margin: 13px 0 0 7px;
    }

    li:nth-child(3)::before{
        content: '';
        position: absolute;
        width: 20%;
        border-top: 1px solid $color-white;
        margin: 13px 0 0 -50px;
    }

    li:last-child{
        word-spacing: 14px;
        font-weight: bold;
        font-size: 20px;
    }

}

.button-buy{
    margin: 440px 0 0 30px;
    
    a{
        text-decoration: none;
        color: $color-white;
        background-color: $orange-bg;
        padding: 12px 32px;
        text-transform: uppercase;
        font-family: $header-font;
        font-size: 20px;
        transition: all 0.2s;
    }

    a:hover{
        font-size: 24px;
        line-height: 21px;
        transition: all 0.2s;
        box-shadow: 0px 0px 8px 2px rgba(87,53,20,0.75);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(87,53,20,0.75);
        -moz-box-shadow: 0px 0px 8px 2px rgba(87,53,20,0.75);
    }
}

.slide{
    position: absolute;
    margin: 600px 0 0 14px;
    display: flex;
}

.butt {
    margin-right: 10px;
    display:inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    background: #b2b2b2;
    text-align: center;
    transform: rotate(45deg);
    transition: all 0.6s;

    span {
        display: inline-block;
        width: 12px;
        height: 12px;
    }

    input[type=radio] {
        display: none;
    }

    input[type=radio]:checked + span {
        background: black;
    }
}

.butt:hover{
    transform: rotate(225deg);
    transition: all 0.7s;
}

.blocks-shipping{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.black-block::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-style: solid;
    border-width: 46px 0 44px 35px;
    border-color: transparent transparent transparent $color-white;
}

.black-block::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 1;
    border-style: solid;
    border-width: 42px 35px 48px 382px;
    border-color: transparent $color-white transparent transparent;
}

.first-block::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 50px 0;
    border-color: transparent $color-white transparent transparent
}

.first-block::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 35px;
    border-color: transparent transparent $color-white transparent;
}


.second-block::after{
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 35px 0 0;
    border-color: white transparent transparent transparent;
    
}

.second-block::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 35px;
    border-color: transparent transparent transparent $color-white;
}

.first-block{
    margin: 70px 0 0 0;
    background-color: #d9bf8f;
    width: 430px;
    height: 90px;
    position: relative;
    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
        color: $color-white;
        font-size: 25px;
        line-height: 90px;
        font-family: $header-font;
        padding-left: 40px;
        margin-top: -5px;
        z-index: 2;

    }
    
    span:nth-child(2){
        display: none;
    }

    i{
        margin-right: 20px;
        padding-bottom: 30px;
        transform: rotate(-45deg);
        font-size: 34px;
    }

    span{
        margin: -25px 0 0 88px;
        font-size: 11px;
        color: $color-white;
        z-index: 2;
    }
}

.black-block{
    margin: 70px 0 0 0;
    background-color: black;
    width: 430px;
    height: 90px;
    position: relative;
    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
        color: $color-white;
        font-size: 25px;
        line-height: 90px;
        font-family: $header-font;
        padding-left: 35px;
        z-index: 2;
        margin: -7px 0 0 0;
        text-align: center;
    }

    span:nth-child(2){
        display: none;
    }

    i{
        position: absolute;
        font-size: 37px;
        margin: 34px 0 0 -60px;
    }

    span{
        margin: -25px 0 0 111px;
        font-size: 11px;
        color: $color-white;
        z-index: 2;
    }
}

.second-block{
    margin: 70px 0 0 0;
    background-color: #d9bf8f;
    width: 430px;
    height: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    
    a{
        text-decoration: none;
        color: $color-white;
        font-size: 25px;
        line-height: 90px;
        font-family: $header-font;
        z-index: 2;
        margin: -7px 0 0 0;
        text-align: center;
    }

    span:nth-child(2){
        display: none;
    }

    i{
        position: absolute;
        font-size: 39px;
        margin: 33px 0 0 -65px;
    }

    span{
        color: $color-white;
        z-index: 2;
        margin: -26px 0 0 117px;
        font-size: 11px;
    }
}

.summer-collection{
    display: flex;
    justify-content: center;

    a{
        text-decoration: none;
        color: black;
        margin: 45px 0;
        font-style: italic;
        font-size: 25px;
        font-weight: bold;
    }

    i{
        font-size: 12px;
        margin: auto;
        transform: rotate(45deg);
        color: #d9bf8f;
        top: 1103px;
        right: 822px;
        vertical-align: middle;
        transition: all 0.5s;
        position: absolute;
    }

    i:last-child{
        right: 520px;
    }

    a::after{
        content: '';
        display: block;
        position: absolute;
        width: 350px;
        border-bottom: 1px solid #eaeaea;
        bottom: -449px;
        right: 110px;
    }

    a::before{
        content: '';
        display: block;
        position: absolute;
        width: 350px;
        border-bottom: 1px solid #eaeaea;
        bottom: -449px;
        left: 110px;
    }

    a:hover i{
        transform: rotate(225deg);
        transition: all 0.5s;
        color: orange;
    }

}

.under-main{
    margin-bottom: 100px;
}

.catalog{
    border: 1px solid #eaeaea;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 345px 375px;
    grid-gap: 15px;
}

.catalog-item{
    width: 300px;
    height: 345px;
    position: relative;
    z-index: 1;
    margin: 15px 0 0 15px;
    

    a{
        position: absolute;
        display: block;
        height: 40px;
        width: 120px;
        background-color: black;
        text-align: center;
        line-height: 40px;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 0;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 13px;
        z-index: 4;
    }

    a::before{
        position: absolute;
        content: '';
        left: -40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 40px 40px;
        border-color: transparent transparent black transparent;
    }

    a::after{
        position: absolute;
        content: '';
        right: -40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 40px 0 0 40px;
        border-color: transparent transparent transparent black;
    }

    a:hover::before {
        border-color: transparent transparent #f09d66 transparent;
    }

    a:hover::after {
        border-color: transparent transparent transparent #f09d66;
    }

    a:hover{
        background-color: #f09d66;
    }
}

.sales{
    position: absolute;
    background-color: #feab12;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    p{
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
}


.like{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 3;
    top: 0;
    left: 0;
    transition: all linear 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
        height: 60px;
        fill: white;
        width: 60px;
        opacity: 0;
        transition: all linear 0.3s;
    }
}

.like:hover{
    background: rgba(0, 0, 0, 0.3);

    svg{
        opacity: 1;
    }
}

.black-bg{
    background-color: #0f0f0f;
}

.footer{
    display: grid;
    grid-template-columns: 200px 200px 200px 400px;
    grid-template-rows: 300px;
    grid-gap: 50px;

    h1{
        text-transform: uppercase;
        color: $footer-color;
        font-family: $header-font;
        letter-spacing: -1px;
    }

    div ul{
        font-family: $header-font;
        font-size: 12px;

        li{
            margin: 12px 0;
        }

        li a{
            text-decoration: none;
            color: #737373;
        }

        li:first-child{
            margin-top: 40px;
        }
    }
}

.footer > div{
    margin: 70px 0 0 30px;
}

.socmedia-connected{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p{
        color: $footer-color;
        font-family: $header-font;
        font-size: 16px;
        word-spacing: 2px;
    }

    span{
        font-family: $vintage-font;
    }
}

.icons-media{
    font-size: 40px;
    color: $footer-color;

    a{
        color: white;

        i{
            margin-right: 10px;
            transition: all 0.2s;
        }
    }
}

.icons-media:last-child{
    font-size: 37px;
}

.icons-media i:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}

.email-button{

    input{
        width: 360px;
        height: 36px;
        background-color: #141414;
        color: #484848;
        border: 2px solid #484848;
    }

    button{
        margin: 0 -102px 0;
        height: 32px;
        background-color: #323030;
        border: 2px solid #323030;
        color: $footer-color;
    }

    input::placeholder {
        padding: 20px;
   }

   input:focus::-webkit-input-placeholder {
        color:transparent;
        transition: all 0.2s;
    }
}

.footer-bottom{
    margin-left: 20px;
}

.water-sign{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left{
    p{
        width: 240px;
        color: #363636;
        font-size: 11px;
    }
    
    img{
        margin: 18px 15px 0 5px;
    }
}

.footer-bottom-right{
    
    i{
        margin: 10px;
        color: $footer-color;
    }
}

.arrow-up{
    margin: 15px 35px 0 0;
    background-color: black;
}
